# Ignore Python files
*.py

# Ignore Python cache directory
__pycache__

# Ignore PEM files
*.pem

# Ignore log files
*.log

# Ignore PNG and JPG image files
*.png
*.jpg

# Ignore Jupyter checkpoints
**/.ipynb_checkpoints/

# Ignore all files starting with a dot (e.g., hidden files)
.*

